name: Testing the project

on: [push]

jobs:
  Python-Tests:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./avalon-backend
    
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "./avalon-backend/.python-version"

    - name: Install the project
      run: uv sync --all-extras --dev

    - name: Run tests
      # For example, using `pytest`
      run: uv run pytest tests
